body {
  color: black;
  font-family: 'Playfair', serif;
  margin: 0;
  padding: 0;

}

h1 {
  text-align: center;
  text-shadow: 2px 2px #f0df23;
  font-family: 'Playfair', serif;
  }

.text-center {
  z-index: 1;
}

#baba {
  z-index: 1;
}

#header1 {
  font-size: 80px;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-family: 'Playfair', serif;
}

h3 {
  text-align: center;
  text-decoration: underline;
  font-family: 'Playfair', serif;
}

.contenido {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

p {
  margin: 30px;
  text-align: justify;
  font-family: 'Playfair', serif;
}

figcaption {
  color: rgb(0, 0, 0);
  font-style: normal;
  font-family: 'Playfair', serif;
  font-size: 14px;
  padding: 2px;
  text-align: center;
}

ol {
  margin:0 0 1.5em;
  padding:0;
  counter-reset:item;
}
 
ol>li {
  margin:0;
  padding:0 0 0 2em;
  text-indent:-2em;
  list-style-type:none;
  counter-increment:item;
}
 
ol>li:before {
  display:inline-block;
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
}

#baba {
  border: 2.5px solid #000000;
  z-index: 1;
}

a:link {
  color: rgb(50, 198, 5); 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  background-color: transparent;
  text-decoration: none;
}

.footer {
position: static;
margin-left: 20px;
max-width: 96%;
left: 10px;
bottom: 25%;
width: 100%;
background-color: rgb(171, 209, 242);
border: 0.5px solid black;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "a b c d";
}

.display-date, .display-time {
  grid-area: d;
  color: rgb(62, 119, 217);
  text-align: right;
  font-style: normal;
  font-family: 'Playfair', serif;
}

.fa {
  padding: 3px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 70%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  grid-area: a;
  background: #007bb5;
  color: rgb(62, 119, 217);
}

.fa-twitter {
  background: #55ACEE;
  color: rgb(62, 119, 217);
  grid-area: b;
}

.fa-instagram {
  grid-area: c;
  background: #125688;
  color: rgb(62, 119, 217);
}